VITE_GA_MEASUREMENT_ID=G-RFPJRPKYQR
VITE_POSTHOG_KEY=
VITE_POSTHOG_HOST=https://us.posthog.com
PRIMARY_DB_CONNECTION_STRING=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SPONSOR_PRICE_GLOBAL=
STRIPE_SPONSOR_PRICE_WEBSITE=
STRIPE_SPONSOR_PRICE_MATCHDAY=
STRIPE_SPONSOR_PRICE_FAN=
