# Google Analytics
VITE_GA_MEASUREMENT_ID=G-RFPJRPKYQR

# Stripe Projects / PostHog
WORLDCUP_API_KEY=
WORLDCUP_HOST=https://us.posthog.com
WORLDCUP_PERSONAL_API_KEY=

# Stripe Projects / Neon
PRIMARY_DB_CONNECTION_STRING=

# Stripe Projects / WorkOS
WORKOS_API_KEY=
WORKOS_CLIENT_ID=
WORKOS_COOKIE_PASSWORD=

# Stripe Projects / AgentMail
AGENTMAIL_AGENTMAIL_API_KEY=

# Stripe Projects / Sentry
SENTRY_DSN=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=
SENTRY_URL=https://sentry.io
